<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Settings page"></app-explore-container>

  <ion-button expand="block" (click)="showAlert()">
    Show Alert
  </ion-button>

  <ion-button expand="block" (click)="showToast()">
    Show Toast
  </ion-button>

  <ion-button expand="block" (click)="showCustomToast()">
    Show Custom Toast
  </ion-button>

  <ion-chip>
    <ion-label>Default Chip</ion-label>
  </ion-chip>

  <ion-chip color="primary">
    <ion-label>Primary Chip</ion-label>
  </ion-chip>

  <ion-chip color="secondary">
    <ion-label>Secondary Chip</ion-label>
  </ion-chip>

  <ion-chip color="tertiary">
    <ion-label>Tertiary Chip</ion-label>
  </ion-chip>

  <ion-chip color="success">
    <ion-label>Success Chip</ion-label>
  </ion-chip>

  <ion-chip color="warning">
    <ion-label>Warning Chip</ion-label>
  </ion-chip>

  <ion-chip color="danger">
    <ion-label>Danger Chip</ion-label>
  </ion-chip>

  <ion-chip color="light">
    <ion-label>Light Chip</ion-label>
  </ion-chip>

  <ion-chip color="medium">
    <ion-label>Medium Chip</ion-label>
  </ion-chip>

  <ion-chip color="dark">
    <ion-label>Dark Chip</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Removable Chip</ion-label>
    <ion-icon name="close-circle" (click)="removeChip($event)"></ion-icon>
  </ion-chip>

  <ion-item>
    <ion-label>Date and Time</ion-label>
    <ion-datetime display-format="MM/DD/YYYY HH:mm" (ionChange)="onDateTimeChange($event)"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Selected Date and Time</ion-label>
    <ion-text>{{ selectedDateTime }}</ion-text>
  </ion-item>
</ion-content>